* {
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
}

html,
body {
	background-color: #efc6ff;
	overflow: hidden;
}

img {
	vertical-align: middle;
}

.yu {
	width: 120px;
}

.web-title {
	text-align: center;
	padding: 15px 0px;
	color: #3e3e3e;
}

/* 留言 */
.animate-begin {}

/* 留言 */
/* 轮播 */
.slider-wrap {
	position: relative;
	/* overflow: hidden; */
	height: 460px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 40px;
	background-image: url(../img/desk.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center 350px;
}

.slider-list {
	display: flex;
	width: 100%;
	height: 100%;
	position: relative;
	left: 0;
	transition: all .5s ease;
}

.slider-item {
	width: 100%;
	height: 100%;
	flex: none;
	padding: 15px;
	transition: all 1s ease;
}

.item-img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	
}

.item-img img {
	width: 70%;
	position: relative;
	z-index: 999;
}

/* 轮播 end */

/* button */
#start,
.tip {
	background-color: transparent;
	width: 100%;
	background-color: #fff;
	padding: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 10px 0px;
	font-weight: 800;
	font-size: 16px;

}

#start.start {
	background-color: #37ff70;
	color: #406820;
}

#start.stop {
	background-color: #ff373a;
	color: #681521;
}

.tip {
	background-color: transparent;
	text-align: center;
	display: none;
	font-size: 25px;
}

.end {
	/* position: fixed; */
	transform: scale(1.2);
}

.end img {
	cursor: pointer;
	transition: all 1s;
}

.msg {
	position: fixed;
	left: 50%;
	transform: translateX(-50%) ;
	top: 20%;
	display: flex;
	align-items: center;
	flex-flow: column;
	justify-content: center;
	display: none;
	text-align: center;
}

.msg p {
	font-size: 40px;
	color: #e54334;
	font-weight: 800;
	white-space: nowrap;
	transform:  scale(0);
	transition: all 1s;
	transform-origin: center;
}

.rotate {
	animation: rotate .5s infinite linear alternate-reverse;
}

.mark {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	
}
.get-message {
	font-size: 40px;
	white-space: nowrap;
	color: #5e1b6b;
	margin-top: 150px;
	transform:  scale(0);
	transform-origin: center;
}



/* button end */
@keyframes rotate {
	0% {
		transform: scale(1.2) rotate(4deg);
	}

	100% {
		transform: scale(1.2) rotate(-4deg);

	}
}
