html,body {
	background-color: #efc6ff;
}
.web-title {
	text-align: center;
padding: 15px 0px;
color: #fff;
}
/* 留言 */
.animate-begin {
	
}
/* 留言 */
/* 轮播 */
.slider-wrap {
	position: relative;
	overflow: hidden;
	height: 360px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 40px;
}

.slider-list {
	display: flex;
	width: 100%;
	height: 100%;
	position: relative;
	left: 0;
	transition: all .5s ease;
}

.slider-item {
	width: 100%;
	height: 100%;
	flex: none;
	background-color: #fff;
	padding: 15px;
}
.item-img  {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.item-img  img{
	width: 70%;
}

/* 轮播 end */

/* button */
#start,#stop {
	background-color: transparent;
	width: 100%;
	background-color: #fff;
	padding: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 10px 0px;
	font-weight: 800;
	font-size: 16px;
	
}
#start {
	background-color: #14ff5e;
	color: #406820;
}
/* button end */